## PostgreSQL 
POSTGRES_USER=tu_usuario
POSTGRES_PASSWORD=tu_password
POSTGRES_DB=nombre_de_tu_bd
DB_PORT=5432
POSTGRE_INTERNAL_PORT=5432

#Keycloak
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=cambiar_esta_password
KEYCLOAK_PORT=8080
KEYCLOAK_INTERNAL_PORT=8080
