BASE_URI=http://localhost

# React
REACT_PORT=5173
REACT_INTERNAL_PORT=5173
TIMEOUT_TIME=3
# Esto es en segundos

# Express
BACKEND_PORT=3000
BACKEND_INTERNAL_PORT=3000

# Credenciales de la base de datos (PostgreSQL)
DB_HOST=database
POSTGRES_USER=tu_user
POSTGRES_PASSWORD=tu_password_seguro
POSTGRES_DB=name_de_tu_db
DB_PORT=5432
POSTGRE_INTERNAL_PORT=5432

# Credenciales de Keycloak
KEYCLOAK_ADMIN_USERNAME=tu_user
KEYCLOAK_ADMIN_PASSWORD=tu_password_seguro
KEYCLOAK_PORT=8080
KEYCLOAK_INTERNAL_PORT=8080
KEYCLOAK_MANAGEMENT_PORT=9000


# Keycloak Config
REALM_NAME=Sistema_Estrellas
CLIENT_ID=Mirador_Estrellas

# Prueba de integracion
KEYCLOAK_TEST_PASSWORD=tu_clave_de_prueba
KEYCLOAK_INTERNAL_URL=http://keycloak:8080
KEYCLOAK_ISSUER=http://localhost:8080/realms/Sistema_Estrellas
KEYCLOAK_TEST_CLIENT_ID=integration-tests


