# React
REACT_PORT=5173
REACT_INTERNAL_PORT=5173

# Credenciales de la base de datos (PostgreSQL)
POSTGRES_USER=tu_user
POSTGRES_PASSWORD=tu_password_seguro
POSTGRES_DB=name_de_tu_db
DB_PORT=5432
POSTGRE_INTERNAL_PORT=5432

#Credenciales de Keycloak
KEYCLOAK_ADMIN_USERNAME=tu_user
KEYCLOAK_ADMIN_PASSWORD=tu_password_seguro
KEYCLOAK_PORT=8080
KEYCLOAK_INTERNAL_PORT=8080
KEYCLOAK_MANAGEMENT_PORT=9000
